{% extends 'base.html' %}
{% load static %}
{% block content %}

        <div class="container-fluid bg-primary py-5 mb-5 hero-header">
            <div class="container py-5">
                <div class="row justify-content-center py-5">
                    <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                        <h1 class="display-3 text-white animated slideInDown">Signup</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item text-white active" aria-current="page">signup</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar & Hero End -->

    <!-- Login Start -->
    <div class="login">
        <div class="container text-center">
            <div class="container-fluid">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-6">
                        <form method="POST" action = "{% url 'signup' %}">
                            {% csrf_token %}
                            <div class="register-form">
                                {% for message in messages %}
                                <div class="alert alert-danger" role="alert" style="width: 100%;">
                                    <center>{{ message }}</center>
                                </div>
                                {% endfor %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="f_name">First Name</label>
                                        <input name="f_name" class="form-control" type="text" placeholder="First Name" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="l_name">Last Name</label>
                                        <input name="l_name" class="form-control" type="text" placeholder="Last Name" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="email">E-mail</label>
                                        <input name="email" class="form-control" type="email" placeholder="E-mail" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="username">Username</label>
                                        <input name="username" class="form-control" type="text" placeholder="Username" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="password">Password</label>
                                        <input name="password" class="form-control" type="password" placeholder="Password" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="cpassword">Retype Password</label>
                                        <input name="cpassword" class="form-control" type="password" placeholder="Password"required>
                                    </div>
                                    <div class="col-md-12 mt-3">
                                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
            <!-- Login End -->
{% endblock %}