{% extends 'base.html' %}
{% load static %}
{% block content %}

        <div class="container-fluid bg-primary py-5 mb-5 hero-header">
            <div class="container py-5">
                <div class="row justify-content-center py-5">
                    <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                        <h1 class="display-3 text-white animated slideInDown">Login</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item text-white active" aria-current="page">Login</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar & Hero End -->

    <!-- Login Start -->
    <div class="login">
        <div class="container-fluid">
           <div class="row justify-content-center align-items-center" >
                <div class="col-lg-6">
                    <div class="login-form">
                        <form method = "POST">
                            {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <label>Username</label><br>
                                    {{form.username}}
                            </div>
                            <div class="col-md-6">
                                <label>Password</label><br>

                                    {{form.password}}
                            </div>
                            <div class="col-md-12">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="newaccount">
                                    <label class="custom-control-label" for="newaccount">Keep me signed in</label>
                                </div>
                            </div>
                            <div class="col-md-12 mt-3">
                                <button type="submit" class="btn btn-primary btn-block btn-lg">Sign In</button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Login End -->

{% endblock %}